{% extends "layout.html" %}

{% block body %}

    <section id="contact-page">
        <div class="container">
            <div class="center">
                <h2>Search Results for {{ job_q }}</h2>
            </div>

            {% for result in results %}
                <p class="lead"><a href="{{ url_for('view_candidate', candidate_id=result['user_id']) }}">{{ result['tagline'] }}</a></p>
                <p>{{ result['summary'] }}</p><br/>
            {% else %}
                <p class="lead">No results found...</p>
            {% endfor %}

        </div><!--/.container-->
    </section><!--/#contact-page-->

{% endblock %}