{% extends "layout.html" %}

{% block body %}

    <section id="contact-page">
        <div class="container">
            <div class="center">
                <h2>Home! {{ username }}</h2>
                <div class="controls">
                {% if role %}
                    {% if role.is_recruiter == 1 %}
                        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                            <li class="active"><a href="#jobs" data-toggle="tab">Search Jobs</a></li>
                            <li><a href="#candidates" data-toggle="tab">Search Candidates</a></li>
                        </ul>
                    <div id="recruter-menu" class="tab-content">
                        <div class="tab-pane active" id="jobs">
                            <form role="form" method="get" action="{{ url_for('jobSearch') }}">
                                <input class="form-control input-lg" type="text" placeholder="Job Search..." name="job_q">
                                <br/>
                                <button type="submit" class="btn btn-success btn-lg">Search</button>
                            </form>
                        </div>
                        <div class="tab-pane" id="candidates">
                            <form role="form" method="get" action="#">
                                <input class="form-control input-lg" type="text" placeholder="Candidate Search..." name="dude_q">
                                <br/>
                                <button type="submit" class="btn btn-success btn-lg">Search</button>
                            </form>
                        </div>
                    </div>
                    {% else %}
                    {% endif %}
                {% else %}
                    <form role="form" method="get" action="{{ url_for('jobSearch') }}">
                        <input class="form-control input-lg" type="text" placeholder="Job Search..." name="job_q">
                        <br/>
                        <button type="submit" class="btn btn-success btn-lg">Search</button>
                    </form>
                {% endif %}
                </div>
            </div>

            <div id="content">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#resume" data-toggle="tab">Resume</a></li>
                <li><a href="#live" data-toggle="tab">Live Tests</a></li>
                <li><a href="#completed" data-toggle="tab">Completed Tests</a></li>
                {% if role %}
                    {% if role.is_recruiter == 1 %}
                        <li><a href="#postings" data-toggle="tab">Posted Jobs</a></li>
                    {% else %}
                    {% endif %}
                {% else %}
                    <li><a href="#applied" data-toggle="tab">Applications</a></li>
                {% endif %}
            </ul>
            <div id="my-tab-content" class="tab-content">
                <div class="tab-pane active" id="resume">
                    {% if resume %}
                        <dl class="dl-horizontal">
                            <dt>Experience</dt>
                            <dd>{{ resume.experience }}</dd>

                            <dt>Education</dt>
                            <dd>{{ resume.education }}</dd>

                            <dt>Skills</dt>
                            <dd>{{ resume.skills }} </dd>
                        </dl>
                    {% else %}
                    <form class="form-horizontal" role="form" method="post" action="{{ url_for('saveResume') }}">
                        <input type="hidden" name="user_id" value={{ user_id }}>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Experience</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" id="inputEmail3" placeholder="Email" name="experience">
                          </textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" id="inputPassword3" name="education">
                          </textarea>
                        </div>
                      </div>

                        <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Skills</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" id="inputPassword3" name="skills">
                          </textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                      </div>
                    </form>
                    {% endif %}
                </div>
                <div class="tab-pane" id="live">
                    {% if tests.count == 0 %}
                        <form class="form-horizontal" role="form" method="post" action="{{ url_for('addTest') }}">
                            <input type="hidden" name="user_id" value={{ user_id }}>
                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Test Name</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="inputEmail3" placeholder="New Test" name="test_name" required="required">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Hypothesis</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="inputPassword3" name="hypothesis">
                            </div>
                          </div>

                            <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Start Date</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="inputPassword3" name="start_date">
                            </div>
                          </div>

                            <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">End Date</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="inputPassword3" name="end_date">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" class="btn btn-primary">Next</button>
                            </div>
                          </div>
                        </form>
                    {% else %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                      Start A New Test
                    </button>
                    <br/>
                    <br/>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">New Test</h4>
                          </div>
                          <div class="modal-body">
                                                    <form class="form-horizontal" role="form" method="post" action="{{ url_for('addTest') }}">
                            <input type="hidden" name="user_id" value={{ user_id }}>
                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Test Name</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="inputEmail3" placeholder="New Test" name="test_name" required="required">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Hypothesis</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="inputPassword3" name="hypothesis">
                            </div>
                          </div>

                            <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Start Date</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="inputPassword3" name="start_date">
                            </div>
                          </div>

                            <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">End Date</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="inputPassword3" name="end_date">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" class="btn btn-primary">Next</button>
                            </div>
                          </div>
                        </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <!--<button type="button" class="btn btn-primary">Next</button>-->
                          </div>
                        </div>
                      </div>
                    </div>
                        <table class="table">
                            <tr>
                                <th>Test Name</th>
                                <th>Hypothesis</th>
                                <th>Action</th>
                            </tr>
                        {% for test in tests %}
                            <tr>
                                <td><a href="/viewTest/{{ test.id }}">{{ test.test_name }}</a></td>
                                <td>{{ test.hypothesis }}</td>
                                <td><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
                            </tr>
                        {% else %}
                        {% endfor %}
                            </table>
                    {% endif %}
                </div>
                <div class="tab-pane" id="completed">
                    <h1>Yellow</h1>
                    <p>yellow yellow yellow yellow yellow</p>
                </div>
                <div class="tab-pane" id="postings">
                    <h2>Postings</h2>
                    <p><table class="table table-striped">
                            <tr>
                                <th>Job Title</th>
                                <th>Posted</th>
                                <th>In Pipeline</th>
                                <th>Action</th>
                            </tr>
                        {% for post in postings %}
                            <tr>
                                <td><a href="#">{{ post.title }}</a></td>
                                <td>{{ post.created }}</td>
                                <td>0</td>
                                <td><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>No jobs posted</td>
                            </tr>
                        {% endfor %}
                            </table></p>
                </div>
                <div class="tab-pane" id="applied">
                    <h1>Yellow</h1>
                    <p>yellow yellow yellow yellow yellow</p>
                </div>
            </div>
        </div>
        </div><!--/.container-->
    </section><!--/#contact-page-->

{% endblock %}