{% extends "layout.html" %}

{% block body %}

    <section id="contact-page">
        <div class="container">
            <div class="center">        
                <h2>Home!</h2>
                <p class="lead">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div id="content">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#resume" data-toggle="tab">Resume</a></li>
                <li><a href="#live" data-toggle="tab">Live Tests</a></li>
                <li><a href="#completed" data-toggle="tab">Completed Tests</a></li>
            </ul>
            <div id="my-tab-content" class="tab-content">
                <div class="tab-pane active" id="resume">
                    <h1>Red</h1>
                    <p>red red red red red red</p>
                </div>
                <div class="tab-pane" id="live">
                    <h1>Orange</h1>
                    <p>orange orange orange orange orange</p>
                </div>
                <div class="tab-pane" id="completed">
                    <h1>Yellow</h1>
                    <p>yellow yellow yellow yellow yellow</p>
                </div>
            </div>
        </div>
        </div><!--/.container-->
    </section><!--/#contact-page-->

{% endblock %}