{% extends "layout.html" %}

{% block body %}

    <section id="contact-page">
        <div class="container">
            <div class="center">        
                <h2>Home!</h2>
                <p class="lead">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div id="content">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#resume" data-toggle="tab">Resume</a></li>
                <li><a href="#live" data-toggle="tab">Live Tests</a></li>
                <li><a href="#completed" data-toggle="tab">Completed Tests</a></li>
            </ul>
            <div id="my-tab-content" class="tab-content">
                <div class="tab-pane active" id="resume">
                    {% if resume %}
                        <dl class="dl-horizontal">
                            <dt>Experience</dt>
                            <dd>{{ resume.experience }}</dd>

                            <dt>Education</dt>
                            <dd>{{ resume.education }}</dd>

                            <dt>Skills</dt>
                            <dd>{{ resume.skills }} </dd>
                        </dl>
                    {% else %}
                    <form class="form-horizontal" role="form" method="post" action="{{ url_for('saveResume') }}">
                        <input type="hidden" name="user_id" value={{ user_id }}>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Experience</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" id="inputEmail3" placeholder="Email" name="experience">
                          </textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" id="inputPassword3" name="education">
                          </textarea>
                        </div>
                      </div>

                        <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Skills</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" id="inputPassword3" name="skills">
                          </textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                      </div>
                    </form>
                    {% endif %}
                </div>
                <div class="tab-pane" id="live">
                    <h1>Orange</h1>
                    <p>orange orange orange orange orange</p>
                </div>
                <div class="tab-pane" id="completed">
                    <h1>Yellow</h1>
                    <p>yellow yellow yellow yellow yellow</p>
                </div>
            </div>
        </div>
        </div><!--/.container-->
    </section><!--/#contact-page-->

{% endblock %}