{% extends "layout.html" %}

{% block body %}

    <section id="contact-page">
        <div class="container">
            <div class="center">
                <h2>Add a Job</h2>
                <p class="lead">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="row contact-wrap">
                <form id="new-user-form" class="contact-form" name="contact-form" method="post" action="#">
                    <input type="hidden" name="poster_id" value="{{ user_id }}">
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" name="title" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea type="text" name="email" class="form-control" required="required">
                                </textarea>
                        </div>
                        <div class="form-group">
                            <label>Skills</label>
                            <input type="text" name="skills" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>URL</label>
                            <input type="url" name="url" class="form-control">
                        </div>
                        <div class="form-group">
                            <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">Post</button>
                        </div>
                    </div>
                </form>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#contact-page-->

{% endblock %}