{% extends "layout.html" %}

{% block body %}

    <section id="contact-page">
        <div class="container">
            <div class="center">
                <h2>Test: {{ test_details.test_name }} </h2>
                <h3>Hypothesis: {{ test_details.hypothesis }} </h3>
            </div>
            <div class="row contact-wrap">
                <table class="table table-striped">
                    <tr>
                        <th>
                            Recipe
                        </th>
                        <th>
                            Version
                        </th>
                        <th>
                            Views
                        </th>
                        <th>
                            %
                        </th>
                    </tr>
                    {% for recipe in recipes %}
                        <tr>
                            <td>{{ recipe.recipe }}</td>
                            <td>{{ recipe.version }}</td>
                            <td>{{ recipe.views }}</td>
                            {% if recipe.views > 0 %}
                                <td>{{ recipe.saves / recipe.views * 100 }}</td>
                            {% else %}
                                <td>0</td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr>Error retrieving records.</tr>
                    {% endfor %}
                </table>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#contact-page-->

{% endblock %}